@keyframes pulse {
	from {
		opacity: 0.25;
	}

	to {
		opacity: 1;
	}
}

.container {
	padding: 0;
	padding-top: 0 !important;

	img {
		backface-visibility: hidden;
		filter: blur(0);
		image-rendering: auto;

		// transform: translate3d(0, 0, 0);
		transform: none;
		transition: none;
	}

	// Placeholder SVG
	img[src^='data:image/svg+xml'] {
		// animation: pulse 10s cubic-bezier(0, 0, 0, 2) infinite alternate;
		margin: 0 auto;
		max-height: 100%;
		max-width: 7.5rem;
		height: 100vh;
		width: 15%;
		pointer-events: none;
		text-align: center;
		user-select: none;
	}
}
