// Violet
// $theme-color-0: #f3f0ff;
// $theme-color-1: #e5dbff;
// $theme-color-2: #d0bfff;
// $theme-color-3: #b197fc;
// $theme-color-4: #9775fa;
// $theme-color-5: #845ef7;
// $theme-color-6: #7950f2;
// $theme-color-7: #7048e8;
// $theme-color-8: #6741d9;
// $theme-color-9: #5f3dc4;

// Green
// $theme-color-0: #ebfbee;
// $theme-color-1: #d3f9d8;
// $theme-color-2: #b2f2bb;
// $theme-color-3: #8ce99a;
// $theme-color-4: #69db7c;
// $theme-color-5: #51cf66;
// $theme-color-6: #40c057;
// $theme-color-7: #37b24d;
// $theme-color-8: #2f9e44;
// $theme-color-9: #2b8a3e;

// Pink
$theme-color-0: #fff0f6;
$theme-color-1: #ffdeeb;
$theme-color-2: #fcc2d7;
$theme-color-3: #faa2c1;
$theme-color-4: #f783ac;
$theme-color-5: #f06595;
$theme-color-6: #e64980;
$theme-color-7: #d6336c;
$theme-color-8: #c2255c;
$theme-color-9: #a61e4d;

// Pink Var
// $theme-color-0: var(--mantine-color-pink-0, #fff0f6);
// $theme-color-1: var(--mantine-color-pink-1, #ffdeeb);
// $theme-color-2: var(--mantine-color-pink-2, #fcc2d7);
// $theme-color-3: var(--mantine-color-pink-3, #faa2c1);
// $theme-color-4: var(--mantine-color-pink-4, #f783ac);
// $theme-color-5: var(--mantine-color-pink-5, #f06595);
// $theme-color-6: var(--mantine-color-pink-6, #e64980);
// $theme-color-7: var(--mantine-color-pink-7, #d6336c);
// $theme-color-8: var(--mantine-color-pink-8, #c2255c);
// $theme-color-9: var(--mantine-color-pink-9, #a61e4d);

$card-height: 15rem;
$card-width: 10.625rem;

// $theme-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18),
// 	0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.12);

$theme-box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 6%),
	0 0.375rem 1.25rem 0 rgb(0 0 0 / 6%);

// $theme-box-shadow: 0 0 1px rgba(12 26 75 / 24%),
// 	0 3px 8px -1px rgb(50 50 71 / 5%);

// $theme-box-shadow: 0 4px 0.5rem 0 rgba(0, 0, 0, 0.2),
// 	0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);

// Lime
// $theme-color-0: #f4fce3;
// $theme-color-1: #e9fac8;
// $theme-color-2: #d8f5a2;
// $theme-color-3: #c0eb75;
// $theme-color-4: #a9e34b;
// $theme-color-5: #94d82d;
// $theme-color-6: #82c91e;
// $theme-color-7: #74b816;
// $theme-color-8: #66a80f;
// $theme-color-9: #5c940d;
