@import '@/styles/mixins';

.border-top {
	border-top: 0.0625rem solid;
	margin-top: var(--mantine-spacing-md);
	padding-top: var(--mantine-spacing-md);

	@include dark-mode(
		border-color,
		var(--mantine-color-gray-2),
		var(--mantine-color-dark-6)
	);
}

.border-bottom {
	border-bottom: 0.0625rem solid;
	margin-bottom: var(--mantine-spacing-md);
	padding-bottom: var(--mantine-spacing-md);

	@include dark-mode(
		border-color,
		var(--mantine-color-gray-2),
		var(--mantine-color-dark-6)
	);
}

.scroll {
	margin: calc(var(--mantine-spacing-md) * -1);
	padding: var(--mantine-spacing-md);
	overflow-x: hidden;
	overflow-y: auto;

	@media (max-height: 900px) {
		overflow-x: hidden;
		overflow-y: auto;
	}
}
