.selector {
	flex-wrap: nowrap;

	button {
		height: 3.4375rem;
		width: 2rem;
		min-width: 2rem;
		max-width: 2rem;
	}
}

.panel {
	> div {
		margin-bottom: var(--mantine-spacing-xs);

		&:last-child {
			margin-bottom: 0;
		}
	}
}
