@import '@/styles/mixins';
@import '@/styles/vars';

.container {
	overflow: hidden;

	&,
	> div {
		max-height: 14rem;
	}
}

.scroll {
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: var(--mantine-spacing-sm);
}

.spoiler {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: var(--mantine-radius-md);
	box-shadow: $theme-box-shadow;
	font-size: 0.95rem;
	padding: var(--mantine-spacing-sm);
	padding-right: 0;

	> button {
		align-items: center;
		display: flex;
		font-size: 0.8rem;
		gap: 0.15rem;
		justify-content: center;
		vertical-align: middle;

		// width: 100%;
	}

	> div {
		mask-image: none;
	}

	&.closed > div {
		mask-image: linear-gradient(180deg, #000 0, #000 40%, transparent);
	}

	@include dark-mode(
		background-color,
		var(--mantine-color-gray-2),
		var(--mantine-color-dark-8)
	);
}
